body {
    height: 100%;
    margin: 0;
    background-color: #00aaa3;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

/*Menu*/
.menu div {
    text-align: center;
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
}

.menu a,
.menu a:visited {
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    color: #ff0
}