
ul {
    list-style: none;
    padding-inline-start: 0;
}

/*Stage*/
.playArea p {
    text-align: center;
}

/*Menu*/
.menu div {
    text-align: center;
    border: 2px solid #fff;
}

.menu a,
.menu a:visited {
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    color: #ff0
}