body {
    height: 100%;
    margin: 0;
    background-color: #00aaa3;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

/*Pause Menu*/
.pause div {
    text-align: center;
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
}

.pause a,
.pause a:visited {
    text-decoration: none;
    color: #fff;
}

.pause a:hover {
    color: #ff0
}